.container {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-evenly;
  padding: var(--padding-m);
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.image {
  width: 300px;
  height: 205px;
}

@media screen and (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
  }

  .image {
    width: 630px;
    height: 480px;
  }
}
