.whois {
  color: var(--black-color);
  font-size: 38px;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  font-family: "Roboto";
  text-align: center;
  padding: 0.3em;
}

.cvd {
  color: var(--black-color);
  font-size: 42px;
  font-family: "Roboto";
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  font-style: italic;
  text-align: center;
  padding: 0.3em;
}
