.whois {
  color: var(--black-color);
  font-size: var(--font-size-xxxxl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  padding: var(--padding-xs);
  text-align: center;
  font-style: italic;
}
