.footer {
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: var(--font-size-s);
  padding: 2em 1em;
  text-align: center;
}

.link {
  color: var(--white-color);
  text-decoration: underline;
}
