.hero {
  color: var(--white-color);
  font-size: 34px;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  font-style: italic;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 40em;
  padding: 3em 0.5em 0em 0.5em;
  font-family: "Roboto";
}
