.hero {
  color: var(--white-color);
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-m);
  line-height: var(--line-height-l);
  font-style: italic;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 40em;
  padding: 4em 0.5em 0em 0.5em;
  font-family: "Roboto";
}
