.container {
  min-height: 100vh;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero_image {
  height: 490px;
  width: auto;
  max-width: 100%;
}

.hero_and_image_combo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 375px) {
  .hero_image {
    height: 350px;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero_image {
    height: 420px;
    width: auto;
  }

  .hero_and_image_combo {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero_image {
    height: 650px;
    width: auto;
  }
}
