.button {
  background-color: var(--orange-color);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  padding: 1em 4em;
}
