.button {
  background-color: rgb(253, 130, 7);
  color: var(--white-color);
  border: none;
  padding: 1em 4em;
  border-radius: 5px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  font-family: "Roboto";
  cursor: pointer;
}
