.third_heading {
  color: var(--white-color);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
  padding: var(--padding-s);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .third_heading {
    font-size: var(--font-size-xxl);
  }
}
