.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo {
  padding: 3em;
  width: 200px;
  height: 56px;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 326px;
    height: 90px;
  }
}

.subheading {
  padding: 1em 0em;
}
