.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  height: 100px;
  width: 100px;
  padding: 3em;
}

.subheading {
  padding: 1em 0em;
}
