.subheading {
  color: var(--white-color);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-m);

  font-style: italic;
  padding: 0.5em;
  font-family: "Roboto";
  text-align: center;
}
