.subheading {
  color: var(--white-color);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-m);
  line-height: var(--line-height-l);
  font-style: italic;
  padding: 0.5em;
  font-family: "Roboto";
  text-align: center;
}
