.container {
  padding: var(--padding-m);
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
}
