.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  color: var(--white-color);
  padding: var(--padding-xs);
  text-align: center;
}

.li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.link {
  position: relative;
  text-decoration: none;
  color: var(--white-color);
  padding-bottom: 4px;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--white-color);
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.social_list {
  display: flex;
  flex-direction: row;
  gap: var(--padding-m);
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--padding-s);
    margin: 0;
    list-style: none;
    text-align: center;
  }
  .business,
  .socials {
    padding: 3em;
  }
}
