.navbar {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.hamburger {
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.text {
  color: black;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
}
