.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xl);
}

.logo {
  height: 56px;
  width: 200px;
}

.hamburger {
  padding: var(--padding-xxl);
}

.text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  text-decoration: none;
}

.ul {
  align-items: center;
  background-color: var(--blue-color);
  display: flex;
  flex-direction: column;
  gap: var(--padding-xxxl);
  list-style: none;
  padding: var(--padding-xxl);
}

.navlist {
  display: none;
}

@media screen and (min-width: 768px) {
  .ul {
    flex-direction: row;
    gap: var(--padding-xxl);
  }

  .hamburger {
    display: none;
  }

  .navlist {
    display: flex;
  }

  .logo {
    height: 90px;
    width: 326px;
  }
}
